
/* Navigation */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
}

/* Home section */
#home{
    height: 233px;
    padding: 3px 28px;
}
#home::before{
    height: 350px;
}
#home p{
    font-size: 13px;
}

/* Serviceses section */
#services{
    flex-direction: column;
}
#services .box{
    padding: 14px;
    margin: 2px 0px ;
    margin-bottom: 15px;


}

/* Client Sections */

#clients{
    flex-wrap: wrap;

}
#clients img{
    width: 66px;
    padding: 6px;
    height: auto;
    
}

/* Contact Sections */
#contact-box form{
    width: 80%;

}

/* unutility classes */
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}